{% extends 'main_template.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
    <div class="main_container p-4">

        <a href="/create" class="btn btn-primary">Create Todo</a>
        
        <div class="todo_container border border-primary">
            {% for todo in todo_data %}
                <a href="/view/{{ todo.id }}" class="p-2">
                    <h4 class="">{{ todo.title }}</h4>
                    <div class="">{{ todo.description }}</div>
                </a>
            {% endfor %}
        </div>
        
    </div>
{% endblock %}
