<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
        #main_form input {
            background-color: red;
        }
    </style>
</head>
<body>
    <form id="main_form" action = "" method = "post">
        {% csrf_token %}
        {{ form }}
        <input type="text" class="">
        <input type="submit" value="Update" class="btn btn-primary">
    </form>

    <a href="/delete/{{ todo_id_number }}" class="btn btn-danger">Delete</a>
</body>
</html>